<div>
    <p>© Nicolas DUFAUT - Version <a href="https://github.com/slucky31/mycomicsmanager/commit/@(ThisAssembly.Git.Sha)">@versionTag</a> - Branche : @ThisAssembly.Git.Branch<br />@platform</p>
</div>

@code {

    private string versionTag = "v" + ThisAssembly.Git.SemVer.Major + "." +
        ThisAssembly.Git.SemVer.Minor + "." +
        ThisAssembly.Git.SemVer.Patch + "-" +
        ThisAssembly.Git.Commit;

    private string platform = @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription + " - " +
        @System.Runtime.InteropServices.RuntimeInformation.OSArchitecture + " - " +
        @System.Runtime.InteropServices.RuntimeInformation.OSDescription + " - " +
        @System.Runtime.InteropServices.RuntimeInformation.ProcessArchitecture + " - " +
        @System.Runtime.InteropServices.RuntimeInformation.RuntimeIdentifier;
}
