@page "/fetchdata"

@using MyComicsManagerWeb.Models
@using MyComicsManagerWeb.Services
@inject ComicService ComicService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (comics == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Category</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var comic in comics)
            {
                <tr>
                    <td>@comic.Id</td>
                    <td>@comic.Title</td>
                    <td>@comic.Price</td>
                    <td>@comic.Category</td>
                    <td>@comic.Author</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Comic> comics;

    protected override async Task OnInitializedAsync()
    {
        comics = await ComicService.GetComics();
    }
}
