@page "/comics/Import"

@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using System.Linq

@using MyComicsManagerWeb.Services

@inject ComicService ComicService;
@inject NavigationManager NavigationManager;

<h3>File Preview Component</h3>

<p>Max allowed files: @maxAllowedFiles</p>

<div class="form-group">
    <InputFile OnChange="LoadFiles" class="form-control" id="input-file" multiple />
</div>

<table class="table">
    <thead>
        <tr>
            <th>Fichier</th>
            <th>Taille</th>
            <th>Temps Upload</th>
            <th>Exception Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in uploadedFiles)
        {
            <tr>
                <td>@file.Name</td>
                <td>@file.Size</td>
                <td>@file.UploadDuration</td>
                <td>@file.ExceptionMessage</td>                    
            </tr>
        }
    </tbody>
</table>


@code {

    private List<ComicFile> uploadedFiles = new List<ComicFile>();

    private int maxAllowedFiles = 10;

    private string[] AllowedExtensions = new[] { ".cbr", ".cbz", ".pdf" };

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {

        uploadedFiles.Clear();
        string exceptionMessage = string.Empty;


        foreach (IBrowserFile file in e.GetMultipleFiles(maxAllowedFiles))
        {
            Stopwatch stopWatch = new Stopwatch();

            // Check extension
            var extension = System.IO.Path.GetExtension(file.Name);
            if (!AllowedExtensions.Contains(extension, StringComparer.OrdinalIgnoreCase))
            {
                exceptionMessage = "File must have one of the following extensions: " + string.Join(", ", AllowedExtensions);
            }
            else
            {
                stopWatch.Start();

                try
                {
                    await ComicService.UploadFile(file);
                }
                catch (Exception ex)
                {
                    exceptionMessage = ex.Message;
                }

                StateHasChanged();
                stopWatch.Stop();
            }

            ComicFile uploadedFile = new ComicFile();
            uploadedFile.Name = file.Name;
            uploadedFile.Size = file.Size;
            uploadedFile.UploadDuration = stopWatch.ElapsedMilliseconds / 1000.0;
            uploadedFile.ExceptionMessage = exceptionMessage;
            uploadedFiles.Add(uploadedFile);
        }
    }

    public class ComicFile
    {

        public string Name { get; set; }

        public long Size { get; set; }

        public double UploadDuration { get; set; }

        public string ExceptionMessage { get; set; }
    }

    private class FileValidationAttribute : ValidationAttribute
    {
        public FileValidationAttribute(string[] allowedExtensions)
        {
            AllowedExtensions = allowedExtensions;
        }

        private string[] AllowedExtensions { get; }

        protected override ValidationResult IsValid(object value, ValidationContext validationContext)
        {
            var file = (IBrowserFile)value;

            var extension = System.IO.Path.GetExtension(file.Name);

            if (!AllowedExtensions.Contains(extension, StringComparer.OrdinalIgnoreCase))
            {
                return new ValidationResult($"File must have one of the following extensions: {string.Join(", ", AllowedExtensions)}.", new[] { validationContext.MemberName });
            }

            return ValidationResult.Success;
        }
    }


}
