@page "/comics/import"

@using System.IO
@using Tewr.Blazor.FileReader
@using MyComicsManagerWeb.Models
@using MyComicsManagerWeb.Services
@inject ComicService ComicService;
@inject NavigationManager NavigationManager;
@inject IFileReaderService fileReaderService;

<h1>Import</h1>

<EditForm Model="@comic">
    <div class="drag-drop-zone" >
        
        <input type="file"
           class="clickable"
           @ref=selectedFile
           @onchange="ReadFile" 
        />
        <div class="file-row">
            <!-- File info -->
            <div>
                
        @if (fileInfo != null)
        {
            
            <h2>@fileInfo.Name</h2>
            <p>Size: <strong>@fileInfo.Size bytes</strong></p>
            <p>Status: <strong>@status</strong></p>
            @*
            @if (fileInfo.Size > MaxFileSize)
            {
            <p>That's too big. Max size: @(MaxFileSize) bytes.</p>;
            }
            else if (fileInfo.Data.Position == fileInfo.Size)
            {
            <p>Download finished !</p>
            }
            else
            {
            <p>Loaded @((100.0 * selectedFile.Data.Position / selectedFile.Size).ToString("0"))%</p>
            }
            *@ 
        }
        else
        {
            <p>Déposer des fichiers ou cliquer pour sélectionner des fichiers</p>
        }
            </div>
        </div>
        
    </div>
</EditForm>

@code {
    
    const int MaxFileSize = 500 * 1024 * 1024; // 500M
    
    private Comic comic = new Comic();

    ElementReference selectedFile { get; set; }
    String status { get; set; }

    private IFileInfo fileInfo;

    private async Task Create()
    {
        await ComicService.CreateComicAsync(comic);
        NavigationManager.NavigateTo("listcomics", false);
    }

    string Output { get; set; }

    public async Task ReadFile()
    {
        Output = string.Empty;
        this.StateHasChanged();
        var nl = Environment.NewLine;
        var files = await fileReaderService.CreateReference(selectedFile).EnumerateFilesAsync();
        var file = files.First();
        
        fileInfo = await file.ReadFileInfoAsync();
        status = $"Reading file...";
        this.StateHasChanged();

        var filePath = Path.Combine("./", fileInfo.Name);
        DateTime begin = DateTime.Now;
        using (var fileStream = new FileStream(filePath, FileMode.Create))
        using (var fs = await file.OpenReadAsync())
        {
            await fs.CopyToAsync(fileStream);
            status = $"Done reading file.";
        }
        var end = DateTime.Now;
        var time = end - begin;
        status += $" Transfert Duration : {time}.";
        
        comic.Title = Path.GetFileNameWithoutExtension(fileInfo.Name);
        this.StateHasChanged();
    
    }

}
