@page "/comics/view/{id}"
@using MyComicsManagerWeb.Services
@using MyComicsManager.Model.Shared.Models
@inject ComicService _comicService

@if (_comic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@_comic.Id</h1>
    <p>@_comic.EbookName</p>
    <p>@_comic.LibraryId</p>
    <p>@_comic.CoverPath</p>
    <p>@_comic.Serie</p>
    <p>@_comic.Title</p>
    <p>@_comic.Isbn</p>
    <p>@_comic.Volume</p>
    <p>@_comic.Summary</p>
    <p>@_comic.Price</p>
    <p>@_comic.Category</p>
    <p>@_comic.Published</p>
    <p>@_comic.Writer</p>
    <p>@_comic.Penciller</p>
    <p>@_comic.Colorist</p>
    <p>@_comic.Editor</p>
    <p>@_comic.Editor</p>
    <p>@_comic.LanguageIso</p>
    <p>@_comic.PageCount</p>
    <p>@_comic.PageCount</p>

}

@code {
    [Parameter]
    public string Id { get; set; }

    private Comic _comic;

    protected override async Task OnInitializedAsync()
    {
        _comic = await _comicService.GetComic(Id);
    }

}