@page "/comics/view/{id}"

@using MyComicsManagerWeb.Models
@using MyComicsManagerWeb.Services
@inject ComicService ComicService

@if (comic == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@comic.Id</h1>
    <p>@comic.EbookPath</p>
    <p>@comic.EbookName</p>
    <p>@comic.LibraryId</p>
    <p>@comic.CoverPath</p>
    <p>@comic.Serie</p>
    <p>@comic.Title</p>
    <p>@comic.ISBN</p>
    <p>@comic.Volume</p>
    <p>@comic.Summary</p>
    <p>@comic.Price</p>
    <p>@comic.Category</p>
    <p>@comic.Published</p>
    <p>@comic.Writer</p>
    <p>@comic.Penciller</p>
    <p>@comic.Colorist</p>
    <p>@comic.Editor</p>
    <p>@comic.Editor</p>
    <p>@comic.LanguageISO</p>
    <p>@comic.PageCount</p>
    <p>@comic.PageCount</p>

}

@code {
    [Parameter]
    public string Id { get; set; }

    protected Comic comic;

    protected override async Task OnInitializedAsync()
    {
        comic = await ComicService.GetComic(Id);
    }

}