@page "/settings"

<Page Title="Settings" Icon="@Icons.Material.Filled.Settings">
    <MudGrid Spacing="4" >
        <MudItem xs="12">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.h6" Class="mb-4"><strong>My Account</strong></MudText>
                <div class="d-flex align-center gap-4">
                    @if (!string.IsNullOrEmpty(_picture))
                    {
                        <MudAvatar Size="Size.Large">
                            <img src="@_picture" style="width:100%;height:100%;object-fit:cover;border-radius:inherit;" alt="avatar" />
                        </MudAvatar>
                    }
                    else
                    {
                        <MudAvatar Size="Size.Large">
                            <MudIcon Icon="@Icons.Material.Filled.Person" />
                        </MudAvatar>
                    }
                    <div>
                        <MudText Typo="Typo.subtitle1"><strong>@_username</strong></MudText>
                        <MudText Typo="Typo.body2" Color="Color.Secondary">@_email</MudText>
                    </div>
                </div>
                <div class="d-flex justify-end mt-4">
                    <MudButton Href="/Account/Logout"
                               Variant="Variant.Outlined"
                               Color="Color.Error"
                               StartIcon="@Icons.Material.Filled.Logout">
                        Sign out
                    </MudButton>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem Class="mud-width-full" xs="12" sm="12" md="8">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.h6"><strong>General Settings</strong></MudText>
                <MudText Typo="Typo.body1">Configure basic application settings</MudText>
            </MudPaper>
        </MudItem>
        <MudItem Class="mud-width-full" xs="12" sm="12" md="4">
            <MudPaper Class="pa-4">
                <MudText Typo="Typo.h6"><strong>About</strong></MudText>
                <MudText Class="mb-4" Typo="Typo.body1">Application information</MudText>
                <MudText Typo="Typo.body1"><strong>MyComicsManager</strong></MudText>
                <MudText Typo="Typo.body1">V1.0.0</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</Page>
